name: Finix_Plus Build (Qt6 + CMake)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    defaults:
      run:
        shell: pwsh

    steps:
      - uses: actions/checkout@v4

      - name: Setup MinGW
        uses: egor-tensin/setup-gcc@v1
        with:
          version: 13
          platform: x64

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.8.1'
          arch: 'win64_mingw'
          modules: 'qtmultimedia qtshadertools'

      - name: Configure CMake
        run: |
          if (Test-Path build) { Remove-Item -Recurse -Force build }
          New-Item -ItemType Directory -Name build
          cd build
          cmake .. -G "MinGW Makefiles" `
            -DCMAKE_BUILD_TYPE=Release `
            -DCMAKE_PREFIX_PATH="$env:Qt6_DIR" `
            -DCMAKE_C_COMPILER=gcc `
            -DCMAKE_CXX_COMPILER=g++

      - name: Build
        run: |
          cd build
          mingw32-make -j$env:NUMBER_OF_PROCESSORS
