name: Finix_Plus Build (Qt6 + CMake)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install full Qt 6.6.0 Desktop
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.6.0
          arch: win64_mingw

      - name: Configure CMake
        shell: bash
        run: |
          rm -rf build
          mkdir build
          cd build
          cmake .. -G "MinGW Makefiles" -DCMAKE_BUILD_TYPE=Release

      - name: Build
        shell: bash
        run: |
          cd build
          mingw32-make -j2

      - name: Deploy Qt runtime
        shell: bash
        run: |
          cd build
          windeployqt --qmldir .. *.exe

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: Finix_Plus_Build
          path: build
